$mainOffset: 15px;
$mainFont: "Lexend Deca", sans-serif;

$whiteColor: #fff;
$blackColor: #131313;
$grayColor: #093545;
$blueColor: #224957;
$redColor: #ff4040;
$greenColor: #20df7f;

$firstAccentColor: $greenColor;
$secondAccentColor: $redColor;

$fontColor: $blackColor;

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%), 0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 15%), 0 0 10px 0 rgba(#000, 15%), 0 0 15px 0 rgba(#000, 15%);

$standartTrans: all 280ms ease 0ms;
